.controller-container{
    height: 100%;
    width: 50%;
}

.controller-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller-content{
    width: 100%;
    display: block;
    margin: 15px;
}

.input{
    width: 60%;
    margin-right: 15px !important;
}

.btn{
    margin: 10px;
}

.clear{
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type='radio'] {
    -webkit-appearance:none;
}

.radio-white{

}

.radio-black{

}

